*.gitignore
*.bak

*.drc
*.dcu
*.local
*.identcache
*.map
*.txt
*.cfg
*.cbk
*.skincfg
*.exe
*.dpr
*.tvsconfig

*/**/__history
**/__history
*/**/.dcu
Visao/*.dcu




**/target/
/target/
*/target/*
*.classpath
*.project
*.settings

# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
*.cbk
**/.dcu
*.dcu
